.track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 0.5px solid #ececec;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease, transform 0.3s ease;
}

.track:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.info {
  flex: 1;
}

.info h3 {
  font-size: 1rem;
  color:#333;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.info p {
  font-size: .9rem;
  color: #555;
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.buttonIcon {
  background-color:#ffffff;
  width: 1.5rem;
  height: 1.5rem;
}
