.track {
  display: flex;
  padding: 0 1rem;
  border: 0.5px solid #ececec;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease, transform 0.3s ease;
  width: stretch;
}

.track:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(.99);
}

.info {
  width: stretch;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden;    /* Ensures overflowing content is clipped */
  margin-right: 1rem;
  height: auto;
}

.info h3 {
  display: block;
  font-size: 1rem;
  color:#333;
  font-weight: 500;
  letter-spacing: -0.00875rem;
  line-height: 100%;
  align-self: stretch;
  margin-bottom: -5px;
}

.info p {
  font-size: .9rem;
  color: #757575;
  line-height: 100%;
}

.button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
}


.buttonIcon {
  background-color:#ffffff;
  width: 1.65rem;
  height: 1.65rem;
}
