/* src/Components/App/App.module.css */

/* Main App layout */
.app {
  display: flex;
  width: 50rem;
  height: 80vh;
  margin: 3rem auto;
  overflow-x: auto;
}

.navbar {
  display: flex;
  min-width: none;
  max-width: 1200px;
  padding: 0.5rem 2.5rem 0rem 2.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.button {
  /* sign out button */
  background: rgba(255, 255, 255, 0.4);
  color: #191919;
  letter-spacing: -0.00688rem;
  border: 1px solid #333;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
}

.button:hover {
  background: #191919;
  color: rgb(240, 240, 240);
  cursor: pointer;
}

/* Header styling */
.header {
  color: #1a1a1a;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.05rem;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  width: 22rem; /* card size on phone*/
  padding: 1.5rem 1rem 2rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.25);
  margin-right: auto;
}

.title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #808080;
  margin: 1rem 0 0.5rem;
}

/* Add responsiveness */
@media (max-width: 700px) {
  .navbar {
    padding: 0 1rem 0rem 1rem;
    width: auto;
    overflow: hidden;
  }

  .app {
    margin-top: 1rem;
    width: auto;
    overflow: auto;
    overflow-x: scroll;
    padding: 0 1rem;
    height: 80dvh;
  }

  .searchContainer {
    min-width: 18rem;
    margin-right: 1rem;
  }
}
