.searchBar {
    display: flex;
    width: stretch;
    align-items: center;
    border-radius: 0.25rem;
    border: none;
    background: #FAFAFA;
    padding-right: 2px;
}

.input {
    width:fill;
    padding: 1rem;
    border: none;
    border-radius: .25rem 0 0 .25rem;
    font-size: 1rem;
    outline: none;
    font-weight: 400;
    font-size: 0.875rem;
}


.button {
    background-color: #191919;
    color: #f2f2f2;
    font-weight: 500;
    border-radius: .25rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: .25rem;
    font-size: 0.75rem;
    cursor: pointer;
    transition:background-color 0.3.s ease;
    letter-spacing: .05rem;
}


.button:hover {
    background-color: #000000;
};
  
  