.playlistWrapper {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.20);
  height: stretch;
  height: stretch;
  border-radius: 0.5rem;
  overflow: hidden;
  
}

.title { /* Enter playlist Name */
  width: stretch;
  min-height: 3rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  color: #1a1a1a;
  margin: 1.5rem 2rem 2rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  background-color: #f2f2f2;
  border: none;
  border-bottom: 2px solid #4d4d4d;

}

.title:focus {
  border: 1px solid #191919;
  background-color: #ffffff;
  border-radius: 4px;
}

.playlist { /* container for the songs buttons*/
    flex-direction: column;
    width: 21rem;
    height: auto;
    overflow-y: scroll;
    position:relative;
    margin: 0rem 1.5rem;
}


.buttonWrapper{
  display: flex;
  margin-top: auto;
  padding: 1rem;
  z-index: 1;
}

.button { /* save to spotify button*/
  display: flex;
  text-align: center;
  background-color: #191919;
  padding: 1rem 2rem;
  border: none;
  border-radius: .25rem;
  font-size: .75rem;
  color: #f2f2f2;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: .05rem;
  margin: 0 auto;
  
}

.button:hover {
  background-color: #000000;
}
