.playlist {
    min-width: 21rem;
    max-width: auto;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.20);
    overflow: auto;
    width: 21rem;
    min-height:stretch;
    max-height: 51rem;
    overflow: auto;
}

.title {
  width: stretch;
  height: 3rem;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
  color: #191919;
  margin-bottom: 1rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  background-color: #f2f2f2;
  border:1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid #4d4d4d;
}

.title:focus {
  border: 1px solid #191919;
  background-color: #ffffff;
  border-radius: 4px;
}

.button {
  display: flex;
  text-align: center;
  background-color: #191919;
  padding: 1rem 2rem;
  border: none;
  border-radius: .25rem;
  font-size: .75rem;
  color: #f2f2f2;
  font-weight: 500;
  cursor: pointer;
  margin: 1rem auto ;
  transition: background-color 0.3s ease;
  letter-spacing: .05rem;
}

.button:hover {
  background-color: #000000;
}
