@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

  font-family: 'Inter', sans-serif;
  height: 100dvh; /* Full-screen height */
  margin: 0;
  min-width: 375px;

  /* Background layering: gradient + dots */
  background: 
    radial-gradient(circle, rgba(255, 255, 255, 0.25) 1px, transparent 2px), /* Dots */
    linear-gradient(135deg, #D6D6D6 49.54%, #9f9f9f 100%); /* Gradient */

  background-size: 
    10px 10px, /* Size of gap between dots */
    cover; /* Gradient covers the entire screen */

  background-repeat: repeat, no-repeat; /* Repeat dots, no-repeat for gradient */
  background-attachment: fixed; /* Keep background fixed during scrolling */
  background-position: center; /* Center the gradient */


}